<!DOCTYPE html>
<html>
<head>
	<title>Menu Mata Kuliah</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		nav {
			background-color: #333;
			color: #fff;
			padding: 10px;
			text-align: left;
		}
		nav a {
			color: #fff;
			padding: 10px;
			text-decoration: none;
		}
		nav a:hover {
			background-color: #fff;
			color: #333;
		}
		h1 {
			margin-top: 50px;
		}
		ul {
			list-style: none;
			padding: 0;
		}
		li {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<nav>
		<a href="Dashboard.html">Beranda</a>
		<a href="profil.html">Profil</a>
		<a href="kontak.html">Kontak</a>
		<a href="login.html">Logout</a>
	</nav>
	<h1>Daftar Mata Kuliah</h1>
	<ul>
		<li>Pemrograman Web</li>
		<li>Data Mining</li>
		<li>Rekayasa Perangkat Lunak</li>
		<li>Sistem Penunjang Keputusan</li>
		<li>Analisis Visualisasi Data</li>
	</ul>
</body>
</html>
